/* mobile responsiveness design */
@media screen and (max-width: 1440px) {
	 .containerx {
	  top: 40%;
	  bottom: 40%;
	  transform-style: preserve-3d;
	}
	
	#about_us div {
		padding: 10px;
		display: block;
		align-items: normal;
	}
	
	.cards {
		position: relative;
		width: 90vw;
		height: 100%;
	}
	
	#about-quad {
		display: none;
	}
}

@media screen and (max-width: 1130px) {
  .menu-btn {
    display: block;
  }

  .navbar {
    padding: 45px;
  }

  .logo {
    position: absolute;
    top: 30px;
    left: 15px;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background: #0400ff;
    margin-top: -10000px;
    margin-right: -100px;
    transition: all 0.5s ease;
    border-bottom-left-radius: 10%;
  }

  .mobile-menu {
    margin-top: 602px;
    border-bottom-left-radius: 10%;
  }

  .nav-links li {
    margin: 30px auto;
  }

  .events {
    width: 100%;
    height: 60vh;
  }

  .events2{
    width: 100%;
    height: 120vh;
  }

 .explore {
    width: 100%;
    height: 140vh;
  }

  .explore2 {
    width: 100%;
    height: 180vh;
  }
}

@media screen and (max-width: 990px) {
  .contact_us {
  margin-top: 3rem;
  align-items: center;
  display: flex;
  font-family: var(--ff-roboto);
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
  form,
  .cbox {
    margin: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 850px) {
  .content-col {
    text-align: center;
  }
  .content-col .line {
    margin: 0.5rem auto;
  }
  .content-col .ctn {
    margin: 0 auto;
    position: inherit;
  }
  .content-col p {
    max-width: 75%;
    text-align: justify;
  }
}

@media screen and (max-width: 850px) {
  .row .col {
    width: 90%;
    text-align: center;
  }

  .col p {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 850px) {
  /*events*/
  .row {
    flex-direction: column;
  }

  .row .col {
    margin: 20px auto;
  }

  .col img {
    max-width: 90%;
  }

  /*explore*/
  .explore-content {
    width: 100%;
  }

  /*tours*/
  .tours {
    width: 100%;
  }

  /*footer*/
  .footer {
    padding: 10px;
  }
  .content-col {
    width: 100%;
  }
  #about_us p {
    width: 70%;
  }

  .events {
    width: 100%;
    height: 60vh;
  }

  .events2{
    width: 100%;
    height: 150vh;
  }

 .explore {
    width: 100%;
    height: 160vh;
  }

  .explore2 {
    width: 100%;
    height: 180vh;
  }

  .cbox {
    width: 90%;
  }
}

@media screen and (max-width: 770px) {
  #about_us p {
    width: 85%;
    padding-top: 7em;
    margin: auto;
  }
  form,
  .cbox {
    width: 90%;
  }
  .ctn {
    margin: auto;
  }

  .explore-content {
    margin: 0 auto;
    text-align: center;
    width: 80%;
  }

  .explore-content .ctn {
    margin: 40px auto;
  }

    .events {
    width: 100%;
    height: 60vh;
  }

  .events2{
    width: 100%;
    height: 120vh;
  }

 .explore {
    width: 100%;
    height: 175vh;
  }

  .explore2 {
    width: 100%;
    height: 210vh;
  }
}

@media screen and (max-width: 600px) {
  .ctn, .back-btn {
    font-size: 1em;
    padding: 12px 25px;
  }
}

@media screen and (max-width: 600px) {
  #about_us p {
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .header-content h2 {
    font-size: 18px;
  }

  .header-content h1 {
    font-size: 28px;
  }

  .header-content {
    padding: 2rem;
    margin-bottom: 80px;
  }

    .events {
    width: 100%;
    height: 60vh;
  }

  .events2{
    width: 100%;
    height: 130vh;
  }

 .explore {
    width: 100%;
    height: 230vh;
  }

  .explore2 {
    width: 100%;
    height: 230vh;
  }
}

@media screen and (max-width: 470px) {
  .ctn {
    padding: 13px 25px;
  }
  .c_boxx a p {
    font-size: 17.5px;
  }

  .events {
    width: 100%;
    height: 70vh;
  }

  .events2{
    width: 100%;
    height: 190vh;
  }

 .explore {
    width: 100%;
    height:290vh;
  }

  .explore2 {
    width: 100%;
    height: 310vh;
  }
}

@media screen and (max-width: 400px) {
  .ctn {
    padding: 13px 25px;
  }
  .c_boxx a p {
    font-size: 16px;
  }

  .events {
    width: 100%;
    height: 90vh;
  }

  .events2{
    width: 100%;
    height: 220vh;
  }

 .explore {
    width: 100%;
    height:360vh;
  }

  .explore2 {
    width: 100%;
    height: 340vh;
  }
}

@media screen and (max-width: 360px) {
  .events {
    width: 100%;
    height: 100vh;
  }

  .events2{
    width: 100%;
    height: 250vh;
  }

 .explore {
    width: 100%;
    height:420vh;
  }

  .explore2 {
    width: 100%;
    height: 350vh;
  }

  .cbox {
    width: 95%;
  }
}

@media screen and (max-height: 850px){
  .events {
    width: 100%;
    height: 110vh;
  }

  .events2{
    width: 100%;
    height: 260vh;
  }

 .explore {
    width: 100%;
    height:450vh;
  }

  .explore2 {
    width: 100%;
    height: 370vh;
  }

  .cbox {
    width: 95%;
  }
}

@media screen and (max-height: 800px){
  .events {
    width: 100%;
    height: 110vh;
  }

  .events2{
    width: 100%;
    height: 270vh;
  }

 .explore {
    width: 100%;
    height:470vh;
  }

  .explore2 {
    width: 100%;
    height: 390vh;
  }

  .cbox {
    width: 95%;
  }
}

@media screen and (max-height: 750px){
  .events {
    width: 100%;
    height: 130vh;
  }

  .events2{
    width: 100%;
    height: 290vh;
  }

 .explore {
    width: 100%;
    height:490vh;
  }

  .explore2 {
    width: 100%;
    height: 410vh;
  }

  .cbox {
    width: 95%;
  }
}

@media screen and (max-height: 700px){
  .events {
    width: 100%;
    height: 150vh;
  }

  .events2{
    width: 100%;
    height: 310vh;
  }

 .explore {
    width: 100%;
    height:510vh;
  }

  .explore2 {
    width: 100%;
    height: 430vh;
  }

  .cbox {
    width: 95%;
  }
}

.ctn, .back-btn {
  font-size: 1em;
  padding: 14px 30px;
}
