/* Google fonts */

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;800&family=Parisienne&family=Roboto&family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");


/* Root element (aka html) */
:root {
  box-sizing: border-box;
  scroll-behavior: smooth;

  /* CSS Variables */
  /* Fonts */
  --ff-parisienne: "Parisienne", cursive;
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-lora: "Lora", serif;
  --ff-roboto: "Roboto", sans-serif;
  --ff-rubik-dirt: "Rubik Dirt", cursive;
  --fs-paragraphs: calc(0.8rem + 0.35vw);
  --fs-links-btns: calc(0.65rem + 0.5vw);
}

/* Global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  max-width: 10%;
  display: block;
}


a {
  text-decoration: none;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

ul {
  list-style: none;
}

span {
  color: #7c7c7c;
  padding: 0px 40px;
}

/* .active {
  color: #fc036b;
  border-radius: 20px;
  background: whitesmoke;
  font-weight: bold;
} */

body,
html {
  overflow-x: hidden;
  box-sizing: border-box;
}

.container {
  width: 98%;
  max-width: 91rem;
  margin: 0 auto;
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: saturate(180%) blur(10px);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 12px 5px;
  z-index: 10;
  color: whitesmoke;
}

.logo {
  font-family: var(--ff-rubik-dirt);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  padding: 0 1.2rem;
  font-weight: 300;
  color: rgb(254, 252, 252); 
  
  
}



.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  font-family: var(--ff-montserrat);
  margin: 0px 15px;
}

.nav-links li a {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.cir_border {
  padding: 6px 20px;
  font-weight: bold;
  border: 2px hidden whitesmoke;
  border-radius: 20px;
  margin: 0px -10px;
}

header {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/bgutm.jpg");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
}

.header-content {
  font-family: var(--ff-lora);
  letter-spacing: 0.5rem;
  color: rgb(0, 0, 0);
  text-align: center;
  z-index: 1;
  padding: 4rem;
  margin-bottom: 150px;
}

.header-content a {
  letter-spacing: 0.1rem;
}

.header-content h2 {
  font-size: 4vmin;
}

.line {
  width: 150px;
  height: 4px;
  background: #0400ff;
  margin: 10px auto;
  border-radius: 5px;
}

.header-content h1 {
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
}

.ctn {
  font-family: var(--ff-montserrat);
  font-size: var(--fs-links-btns);
  font-weight: 700;
  padding: 13px 50px;
  background: #0400ff;
  border-radius: 30px;
  color: whitesmoke;
}

.menu-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  cursor: pointer;
  display: none;
}

/* Events */
section {
  width: 80%;
  margin: 90px auto;
}

.events{
  width: 100%;
  height: 60vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.events2{
  width: 100%;
  height: 110vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.title {
  text-align: center;
  font-family: var(--ff-montserrat);
  font-size: 4vmin;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.titles {
  text-align: center;
  font-family: var(--ff-montserrat);
  font-size: 2vmin;
}

.card {
  cursor: pointer;
  height :400px
}

.row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  height: 450px;
}

.row .col img {
  width: 90%;
}

.events .row {
  margin-top: 50px;
}

.col > h4 {
  font-size: calc(1rem + 0.5vw);
  margin: 20px auto;
  font-family: var(--ff-lora);
}

.col p {
  color: #000000;
  padding: 0px 40px;
  font-size: var(--fs-paragraphs);
  font-family: var(--ff-roboto);
}

.col > p {
  color: #000000;
  padding: 0;
  line-height: 1.5;
  text-align: center;
  max-width: 35ch;
}

.events .ctn {
  margin-top: 30px;
}

/* explore */
.explore {
  width: 100%;
  height: 100vh;
  background-image: url(../img/bgutm2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.explore-content {
  font-family: var(--ff-lora);
  color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 8rem;
  position: relative;
  z-index: 1;
  padding: 2rem 17px;
  margin: auto;
}

.explore-content::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  display: block;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2.5px);
  border-radius: 0.5rem;
}

.explore-content h1 {
  /* width: 100%; */
  font-size: calc(2.2rem + 1vw);
  letter-spacing: 0.3rem;
  margin: auto;
}

.explore-content .line {
  margin-bottom: 50px;
}

.explore-content p {
  color: rgb(221, 221, 221);
  max-width: 65ch;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
  padding: 0px 35px;
}

.explore-content .ctn {
  margin: 17px auto;
  padding: 12px 27px;
}

/* explore2 */
.explore2 {
  width: 100%;
  height: 100vh;
  background-image: url(../img/bgutm.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.explore2-content {
  font-family: var(--ff-lora);
  color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 8rem;
  position: relative;
  z-index: 1;
  padding: 2rem 17px;
  margin: auto;
}

.explore2-content::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  display: block;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2.5px);
  border-radius: 0.5rem;
}

.explore2-content h1 {
  /* width: 100%; */
  font-size: calc(2.2rem + 1vw);
  letter-spacing: 0.3rem;
  margin: auto;
}

.explore2-content .line {
  margin-bottom: 50px;
}

.explore2-content p {
  color: rgb(221, 221, 221);
  max-width: 65ch;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
  padding: 0px 35px;
}

.explore2-content .ctn {
  margin: 17px auto;
  padding: 12px 27px;
}

/* contact */
#contact {
  width: 100%;
  height: 40vh;
}

.contact_us {
  margin-top: 3rem;
  align-items: center;
  display: flex;
  font-family: var(--ff-roboto);
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.cbox {
  width: 35%;
  padding:1px 30px;
}

.cbox-message {
  font-size: 1.2em;
  margin: 0;
}

.cbox-line {
  width: 20%;
  height: 0.2em;
  background-color: #0400ff;
  margin-bottom: 3em;
  margin-top: 1em;
}

.c_boxx a p {
  color: white;
  font-size: 1em;
  font-weight: 100;
  padding: 1rem;
  padding: 0px 40px;
}

.c_boxx a {
  padding: 1em;
  margin-bottom: 2em;
  padding-left: 2em;
  border: 0.1em solid #0400ff;
  background-color: #0400ff;
  color: white;
  display: flex;
  border-radius: 2em;
  align-items: center;
  border: #0400ff 0.1em solid;
  font-size: 1em;
}

.c_boxx a:hover {
  background-color: white;
  color: #0400ff;
  transition: all 0.5s ease;
}

.c_boxx i {
  font-size: 38px;
  margin-right: 10px;
  /* margin-left: 0.5em; */
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 0px 0px 7px 6px;
  display: inline-block;
}

input[type="submit"] {
  background-color: #fc036b;
  color: whitesmoke;
  padding: 12px 50px;
  border: 2px solid #fc036b;
  border-radius: 100vmax;
  cursor: pointer;
  font-family: var(--ff-montserrat);
  font-size: var(--fs-links-btns);
}

input[type="submit"]:hover {
  background-color: whitesmoke;
  color: #fc036b;
}

.cform {
  background-color: #222;
  padding: 1em;
  border-radius: 0.5rem;
}

.ccol {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.crow-in {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.crow-message {
  margin: 1rem;
}

.crow-message div {
  width: 20%;
  display: block;
  height: 1em;
  border-bottom: 3px solid #fc036b;
}

.ccol-left {
  margin: 1em;
}

.ccol {
  float: left;
  width: 100%;
  margin-top: 6px;
}

#name {
  width: 90%;
  margin: 1em;
}

#email {
  width: 90%;
  margin: 1em;
}

.crow:after,
.crow-s::after {
  content: "";
  display: table;
  clear: both;
}

.crow-s {
  margin: 1em;
  color: #fc036b;
}

/* footer */
.footer {
  width: 100%;
  min-height: 10px;
  padding: 20px 50px;
  margin: 0;
  background: #222;
  text-align: center;
}

.footer p {
  color: whitesmoke;
  margin: 20px auto;
  padding: 20px auto;
}

.footer span {
  display: block;
  color: whitesmoke;
  padding: 20px auto;
}

.social {
  width: 360px;
  margin: 30px auto;
}

.social li {
  list-style: none;
}

.social a {
  margin-right: 10px;
  font-size: 18px;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.social a:hover {
  background-color: #fc036b;
}

.social i {
  display: inline;
  text-align: center;
  color: whitesmoke;
}

/* animations */
img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}

.cir_border:hover{
    color: #0400ff
}


.active {
  border: 2px solid whitesmoke;
  border-radius: 20px;
  color: #fc036b;
  cursor: pointer;
}

.ctn:hover {
  background: whitesmoke;
  color: #0400ff;
  box-shadow: 2px 2px 5px #00000056;
  cursor: pointer;
}

.nav-links .ctn:hover a {
  color: #03b5fc;
}

body {
 background-color: gray;
  color: white;
}

body.dark{
  background-color: white;
  color: rgb(0, 0, 0);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 48px;
  height: 22px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 18px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}

.fa-moon-o {
  color: white;
}

.fa-sun-o {
  color: yellow;
}

.color{
  color:white;
}

/* scroll button */

.arrow {
  position: fixed; 
  z-index: 99;
  cursor: pointer; 
  padding: 15px; 
	width: 8vmin;
	height: 8vmin;
	box-sizing: border-box;
	left: 95%;
	top: 86%;
	transform: rotate(-45deg);
  
	
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color:  #fff;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}

	
	&:after {
		content: '';
		float: left;
		position: relative;
		top: -86%;
		width: 100%;
		height: 100%;
		border-width: 0 .8vmin 0 0;
		border-style: solid;
		border-color:  #fff;
		transform-origin: 100% 0;
		transition:.2s ease;
	}
	
	&:hover::after {
		transform: rotate(45deg);
		border-color:#0400ff;
		height: 120%;
	}
	&:hover::before {
		border-color:#0400ff;
		transform: scale(.8);
		
	}
	
}

/* Dark Mode Styles Scroll Button  */
.dark .arrow {
  &::before {
    border-color: black; 
  }

  &:after {
    border-color: black;
  }

  &:hover::after {
    border-color: #0400ff;
  }

  &:hover::before {
    border-color: #0400ff;
  }
}


#quote {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(45deg, #0400ff, #000000, #470150);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 10s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}


/* carousel */

@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");


input[type=radio] {
  display: none;
}

.cardt {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 5vw;
  right: 0;
  top: 14%;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.containerx {
  width: 100%;
  height: 50vh;
  transform-style: preserve-3d;
}

.cards {
  position: relative;
  width: 100vh;
  height: 100%;
}

.cards label img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #col-img-3, #item-2:checked ~ .cards #col-img-1, #item-3:checked ~ .cards #col-img-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #col-img-2, #item-2:checked ~ .cards #col-img-3, #item-3:checked ~ .cards #col-img-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #col-img-1, #item-2:checked ~ .cards #col-img-2, #item-3:checked ~ .cards #col-img-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  
  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

#item-2:checked ~ .player #test {
  transform: translateY(0);
}

#item-2:checked ~ .player #test  {
  transform: translateY(-40px);
}

#item-3:checked ~ .player #test  {
  transform: translateY(-80px);
}

.title-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1.5em;
  font-weight: bold;
}
/* Detail Page Styles */
.detail-container {
    max-width: 1000px;
    margin: 100px auto;
    padding: 20px;
}

.detail-header {
    text-align: center;
    margin-bottom: 40px;
}

.detail-content {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.detail-img {
    flex: 1;
    min-width: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.detail-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.detail-text {
    flex: 1;
    min-width: 300px;
}

.detail-info {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.detail-info ul {
    padding-left: 20px;
}

.detail-info li {
    margin-bottom: 10px;
}

.back-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #fc036b;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .detail-content {
        flex-direction: column;
    }
}
/* Tambahkan di style.css */
.facility-tag {
  display: inline-block;
  background: #fc036b;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.8em;
  margin-right: 5px;
  margin-bottom: 5px;
}

.hero-subtitle {
  font-size: 1.2em;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
/* Tambahkan ini di bagian paling bawah file style.css */
.detail-info {
  background: #ffffff; /* Pastikan background card putih */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  color: #333333; /* Warna teks gelap */
}

.info-card {
  background: #ffffff;
  color: #333333; /* Pastikan teks gelap */
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

.info-card h3 {
  color: #fc036b; /* Warna judul */
}

.info-card ul, .info-card li {
  color: #333333; /* Warna teks list */
}

.facility-tag {
  background: #fc036b;
  color: white !important; /* Khusus untuk tag */
}

#upbtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #fc036b;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}


/* end */
